@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Masterchef!</h1>
    <p>As melhores receitas da internet!</p>
</div>

<div class="text-center">
    <form asp-controller="Receita" asp-action="Index" method="get">
        <div class="form-group">
            <label>Busque uma receita</label>
            <input type="text" name="termSearch" class="form-control" autofocus />
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
</div>