@model AddIngrediente

<div id="addIngrediente" class="modal fade" role="dialog" back>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Adicionar Ingrediente</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form class="form-horizontal" role="form" id="formAddIngrediente">
                @Html.AntiForgeryToken()

                <div class="modal-body">

                    <div id="succesMessageIngrediente" class="row mensagem" style="display:none;">
                        <div class="col-md-12">
                            <div class="alert alert-success">

                            </div>
                        </div>
                    </div>

                    <div id="errorMessageIngrediente" class="row mensagem" style="display:none;">
                        <div class="col-md-12">
                            <div class="alert alert-danger">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Nome"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="UnidadeMedida"></label>
                                <input asp-for="UnidadeMedida" class="form-control" />
                                <span asp-validation-for="UnidadeMedida" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                    <button type="submit" class="btn btn-primary btnSalvarModeloModal">Salvar</button>
                </div>
            </form>
        </div>

    </div>
</div>