@model ReceitaAdd
@{
    TempData["breadcrump.icon"] = "glyphicon glyphicon-cog";
    TempData["breadcrump.1"] = "Receita";
    TempData["breadcrump.1.2"] = "Index";
    TempData["breadcrump.2"] = "Adicionar";
}

<form id="form" method="post" enctype="multipart/form-data">

    <h4>Dados</h4>
    <hr />

    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label asp-for="Titulo"></label>
                <input asp-for="Titulo" class="form-control" autofocus />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label asp-for="Descricao"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label asp-for="ModoPreparo"></label>
                <textarea asp-for="ModoPreparo" class="form-control"></textarea>
                <span asp-validation-for="ModoPreparo" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label><a href="#addCategoria" data-toggle="modal">Categoria</a></label>
                <select asp-for="CategoriaId" asp-items="@ViewBag.Categorias" class="form-control"></select>
                <span asp-validation-for="ModoPreparo" class="text-danger"></span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <label asp-for="Imagem" class="control-label"></label>
                <input type="file" name="image" id="image" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <label><a href="#addIngrediente" data-toggle="modal">Ingredientes</a></label>
                        <select asp-items="@ViewBag.Ingredientes" id="Ingredientes" class="form-control"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        <label>Quantidade</label>
                        <input type="text" class="form-control" id="IngredienteQuantidade" />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                        <label>Adicionar</label>
                        <button type="button" class="btn btn-primary form-control" id="buttonSelectIngrediente"><b>+</b></button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="overflow-y:scroll; max-height:150px;">
                <label>&nbsp;</label>
                <div class="table-responsive">
                    <table class="table table-hover tableIngrediente">
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button type="submit" class="btn btn-primary pull-right" title="Salvar">
                    <i class="glyphicon glyphicon-floppy-disk"></i> Salvar
                </button>
            </div>
        </div>
    </div>

</form>

<partial name="_AddCategoria" />
<partial name="_AddIngrediente" />

@section Scripts{
    <script src="~/js/receita/addReceita.js"></script>
    <script src="~/js/receita/addCategoria.js"></script>
    <script src="~/js/receita/addIngrediente.js"></script>
}