@model IEnumerable<ReceitaIndex>
@{
    TempData["breadcrump.icon"] = "glyphicon glyphicon-pencil";
    TempData["breadcrump.1"] = "Usuário";
}

<div class="row" style="margin-bottom:10px;">
    <div class="col-xs-2 col-sm-2 col-md-9 col-lg-9">
        <a asp-action="Inserir" class="btn btn-primary" title="Inserir"><i class="glyphicon glyphicon-plus"></i></a>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-3 col-lg-3">
        <form asp-action="Index" method="get">
            <div class="input-group">
                <input type="text" name="term" class="form-control" placeholder="Pesquisar" value="@ViewData["term"]" autofocus />
                <span class="input-group-addon" id="basic-addon1">
                    <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
        </form>
    </div>
</div>

